[Unit]
Description=Puma server
After=network.targer

[Service]
Type=simple
WorkingDirectory=/opt/reddit
ExecStart=/usr/local/bin/puma

[Install]
WantedBy=multi-user.target
